<form id="save-form" method="post" action="/alarms/create/">{% csrf_token %}

	<div class="form-group">   	 
		<label class="control-label" for="title">Title</label>
       <input class="form-control" type="text" name="title"  
       		placeholder="Enter a name of entry, only use characters and underbar.">
		{{ form.title.errors }}       		
	</div>
	
	<!-- 
	   	<div class="form-group">
	    	
	       <input class="form-control" type=url name="url"  
	       		placeholder="Enter URL">
	   	</div>	   		
   	 -->
   	 
	<div class="form-group">   	 
		<label class="control-label" for="site">Site</label>   	 
	   	<select class="form-control" name="site">
	   		{% for key, value in urls %} 
	   			<option> {{ key }}: {{ value }} </option>
	   		{% endfor %}
	   	</select>
	   	{{ form.site.errors }}   
	</div>   	
   	
   	<div class="form-group">
    	<label class="control-label" for="keyword">keyword</label>
       <input class="form-control" type="text" name="keyword" 
       		placeholder="Enter keywords you want to monitor, use comma for multiple words">
       {{ form.keyword.errors }}
   	</div>	   	   	

	<button type="submit" class="btn btn-default">Add</button>
	<button id="id_cancel" type="button" class="btn btn-default" onclick="window.location.replace('/alarms/')" >Cancel</button>	

</form>