{% extends "base.html" %}

{% block external %}
	<script type="text/javascript" src="/static/js/helpers.js"></script>	
	<script type="text/javascript" src="/static/js/settings.js"></script>		
{% endblock %}

{% block title %}{{ username }}{% endblock %}

{% block head %}Setting for {{ username }}{% endblock %}


{% block content %}
	<h3> Settings </h3><br>
	
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h4> Activating Account </h4>
  		</div>
  		<div class="panel-body">
			<p> if you deactivate your account, all the notification will be stopped. 
				So you cannot receive any messages from this service.
				You can re-activate your account any time you want by clicking the button below.</p>
			<div class="btn-group">
			   {% if setting.activated == 1 %}
			   <button type="button" id="id_btn_activate" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
			    	Activate
			   	 {% else %}
			   <button type="button" id="id_btn_activate" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
			   	 	Decativate
			   	 {% endif %}
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a href="#">Activate</a></li>
			    <li><a href="#">Deactivate</a></li>
			  </ul>
			</div>
	  	</div>
	</div>

	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h4> Notification Method  </h4>
  		</div>	
  		<div class="panel-body">
  			<p> You can select the method you will receive notification through. Now the only supported way is via email.</p>
			<label class="checkbox-inline">
			  <input type="checkbox" id="id_cb_email" value="email" checked> E-mail
			</label>
			<label class="checkbox-inline">
			  <input disabled type="checkbox" id="id_cb_push" value="push"> Push Notification
			</label>
			<label class="checkbox-inline">
			  <input disabled type="checkbox" id="id_cb_sms" value="sms"> SMS
			</label>
		</div>
	</div>
			
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h4> Email  </h4>
  		</div>	
  		<div class="panel-body">			

			<p> Input your email account.</p>
			<form>
				<div class="input-group">
			    	<input type="email" class="form-control" id="id_input_email" placeholder="Enter your email address" value="{{ email }}" >
				   	<span class="input-group-btn">
		        		<button disabled id="id_btn_save" class="btn btn-default" type="button">Save</button>
		      		</span>	    	
			  	</div>
			</form>
		</div>		
 	</form>   	 	



{% endblock %}