{% extends "base.html" %}

{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}

{% block content %}
	<h3> Sign Up </h3>
	
	<div class="container">
		<form class="form-horizontal" name="SignUpForm" method="post" action=".">
			{% csrf_token %}
		   	{% if error %}
		    	<p class="help-block">Sign up invalid</p>
			{% endif %}
		
		   	<div class="form-group">
		    	<label class="control-label" for="Username">Username</label>
		       <input class="form-control" type="text" id="username" name="username"  placeholder="Enter user name">
		       	{% if form.username.errors %}
		       		<div class="alert alert-warning" role="alert">
		     				{% for error in form.username.errors %}
		       					{{ error}}
		       			{% endfor %}
		          		</div>
					{%  endif %}        
		   	</div>	
		
		   	<div class="form-group">
		    	<label class="control-label" for="Email">e-mail</label>
		       <input class="form-control" type="email" id="email" name="email"  placeholder="Enter e-mail address">
		   	</div>	
		   	
		   	<div class="form-group">
		    	<label class="control-label" for="Password">Password</label>
		       <input class="form-control" type="password" id="password1" name="password1"  placeholder="Enter password">
		   	</div>	   	
		   	
		   	<div class="form-group">
		    	<label class="control-label" for="password2">Confirm Password</label>
		       <input class="form-control" type="password" id="password2" name="password2"  placeholder="re-type the password">
		       {% if form.username.errors %}
		       		<div class="alert alert-warning" role="alert">
		       				{% for error in form.password2.errors %}
		       						{{ error}}
		       				{% endfor %}
		          		</div>
					{%  endif %}  
		   	</div>	  
			
			<button type="submit" class="btn btn-default">Sign up</button>
		</form>
	</div>
{% endblock %}